// Colors=------------
// ### Primary

$color-Light-Cyan: hsl(193, 38%, 86%);
$color-Neon-Green: hsl(150, 100%, 66%);

// ### Neutra

$color-Grayish-Blue: hsl(217, 19%, 38%);
$color-Dark-Grayish-Blue: hsl(217, 19%, 24%);
$color-Dark-Blue: hsl(218, 23%, 16%);

// Typography----------------
$font-size-quote: 1.75rem;

$font-family-main: 'Manrope', sans-serif;

// Media queries--------------
$breakpoints : (
    "small": 23.4375em,
    "large": 90em
);

@mixin breakpoint ($value) {
    @media screen and (max-width: map-get($breakpoints, $value)) {
        @content;
    }
}

